In [84]:
import requests
import datetime as dt
import pandas as pd
from sklearn.model_selection import train_test_split

Edit tickers, target and datetime is necessary.

In [85]:
tickers = ['AMZN', 'AAPL', 'TSLA', 'GOOG', 'TWTR'] 
target = 'AMZN'
start = dt.datetime(2015, 1, 1)
end = dt.datetime(2021, 1, 1)

main_df = pd.DataFrame
for ticker in tickers:
  if ticker not in target: 
    df = web.DataReader(ticker, 'yahoo', start, end)
    df = df[['Adj Close']]
    df.rename(columns={'Adj Close': ticker}, inplace=True)
    if main_df.empty: 
      main_df = df
    else: 
      main_df = main_df.join(df, how='outer')

main_df.head()

                 AAPL       TSLA        GOOG       TWTR
Date
2015-01-02  24.861401  43.862000  523.373108  36.560001
2015-01-05  24.161013  42.018002  512.463013  36.380001
2015-01-06  24.163294  42.256001  500.585632  38.759998
2015-01-07  24.502111  42.189999  499.727997  37.279999
2015-01-08  25.443539  42.124001  501.303680  39.090000

Now we create and select our features for our target stock.

Features stored/created:

* Adjusted Close	
* Moving average	
* Increase in volume	
* Increase in adjusted close

In [86]:
target_df = web.DataReader(target, 'yahoo', start, end)

#calculate the moving average for a feature
target_df['Moving_av'] = target_df['Adj Close'].rolling(window=50, min_periods=0).mean()

#Calculate the rate of increase in volume and rate of increase in adjusted close 
i = 1
rate_increase_in_vol = [0]
rate_increase_in_adj_close = [0]

while i < len(target_df):
    rate_increase_in_vol.append(target_df.iloc[i]['Volume']-target_df.iloc[i - 1]['Volume'])
    rate_increase_in_adj_close.append(target_df.iloc[i]['Adj Close']-target_df.iloc[i - 1]['Adj Close'])
    i += 1

target_df['Increase_in_vol'] = rate_increase_in_vol
target_df['Increase_in_adj_close'] = rate_increase_in_adj_close

Execute to join the target stock's features with the other tickers specified earlier.

In [87]:
main_df = main_df.join(target_df, how='outer')

Execute to convert data into a numpy array, and split it between the train and test data. And to set the predicition labels, the y-values, as the 'Open' value for the target stock.

In [88]:
y = main_df[['Open']]
y = y.to_numpy()
X = main_df.drop(['Open'], axis=1)
X = X.to_numpy()
# data = main_df.to_numpy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3)

# Model time!

In [89]:
import tensorflow as tf
from keras.models import Sequential

Where we can play around with the layers, and activation functions

In [90]:
N,D = X.shape

model = Sequential([
    tf.keras.layers.InputLayer((D,)),
    #layer1
    #layer2
    #....


    #layer L
    tf.keras.layers.Dense(1, activation='sigmoid'),
])